.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: cursive;
  background-color: #ecf0f1;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.App-main {
  
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 21% ;
  height: 650px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-card img {
  width: 80%;
  height: auto;
  margin-top: 30px;
  border-radius: 5px;
}

.info-card h2 {
  width: 80%;
  text-align: center;
  padding: 10px 10px 0px 10px;
}

.info-card p {
  width: 80%;
  padding: 0 15px 15px 15px;
  font-size: 18px;
}

.boton{
  width: 15%;
  padding: 15px 15px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #3498db;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  text-align: center;
}

.App-footer {
  width: 100%;
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  text-align: center;
}